.header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header > * {
  width: calc(100% / 3);
}

.instagram {
  padding-top: 2rem;
  padding-left: 8rem;
}

.spacer {
  display: none;
}

@media screen and (min-width: 1280px) {
  /* styles for desktops with a minimum width of 1280px */
  .spacer {
    display: block;
  }
  .instagram {
    padding-left: 0;
  }
}
